@font-face {
  font-family: "iconfont"; /* Project id 3777919 */
  src: url('iconfont.ttf?t=1701075545868') format('truetype'),
       url('iconfont.svg?t=1701075545868#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shujuditu1:before {
  content: "\e726";
}

.icon-tuichu:before {
  content: "\e727";
}

.icon-zhanghao:before {
  content: "\e728";
}

.icon-biaoqian:before {
  content: "\e618";
}

.icon-tishi:before {
  content: "\e619";
}

.icon-shijian:before {
  content: "\e61a";
}

.icon-a-013_zuzhijiagou:before {
  content: "\e642";
}

.icon-dianpu:before {
  content: "\e611";
}

.icon-gaishuai:before {
  content: "\e612";
}

.icon-fenlei:before {
  content: "\e613";
}

.icon-queren:before {
  content: "\e614";
}

.icon-renzheng:before {
  content: "\e615";
}

.icon-shezhi:before {
  content: "\e616";
}

.icon-shouye:before {
  content: "\e617";
}

.icon-chakandingdan:before {
  content: "\e643";
}

.icon-translate:before {
  content: "\e771";
}

.icon-a-013_fengxianshijian:before {
  content: "\e63b";
}

.icon-a-013_tongzhi-35:before {
  content: "\e63d";
}

